<%- include('../partials/header', { title: 'Admin' }) %>

<h1>Admin-Konsole</h1>
<ul>
  <li><a href="/admin/addresses">Adressen</a></li>
  <li><a href="/admin/users">Benutzer</a></li>
  <li><a href="/admin/tokens">Tokens</a></li>
  <li><a href="/admin/posts">Posts</a></li>
  <li><a href="/admin/uploads">Uploads</a></li>
</ul>

<%- include('../partials/footer') %>
